<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/theme.css" />
    <title>Bhavna Achar</title>
    <style>
      body {
        background-color: rgb(201, 201, 201);
        margin: 5rem;
      }
      h1 {
        margin-top: 10rem;
        font-size: 5rem;
        text-align: center;
      }
      p {
        font-size: 2rem;
        text-align: center;
      }
      .link-dark:hover {
        font-weight: bolder;
      }
    </style>
  </head>
  <body>
    <h1>Uh-oh, it's the dreaded 404!</h1>
    <p>
      We're sorry we couldn't load your page. <br /><br />
      <a href="/" class="link-dark">(Take me back home)</a>
    </p>
  </body>
</html>
