<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/theme.css" />
    <title>Bhavna Achar</title>
  </head>
  <body>
    <div id="nav">
      <nav>
        <div class="brand-name">Bhavna Achar</div>
        <div class="navbar-links">
          <ul>
            <li><a href="/" class="navbar-link">HOME</a></li>
            <li><a href="/storefront" class="navbar-link">STORE</a></li>
            <li><a href="/list" class="navbar-link">LIST</a></li>
            <li><a href="/table" class="navbar-link">TABLE</a></li>
            <li><a href="/audio" class="navbar-link">AUDIO</a></li>
            <li><a href="/video" class="navbar-link">VIDEO</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <div id="content">
        <h1>The HTML5 &lt;audio&gt; Element</h1>
        <audio controls>
          <source
            src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.mp3"
            type="audio/mpeg"
          />
          <source
            src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.ogg"
            type="audio/ogg"
          />
        </audio>
        <p>
          This is an audio element, which is used to embed sound content into
          the document. I have included two sources for the same audio - one is
          a .mp3 file, and the other is a .ogg file. This is a good practice, as
          some browsers do not support certain file types. If multiple sources
          are provided, the browser chooses the most suitable one for playback.
        </p>
      </div>
    </div>
  </body>
</html>
