<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/theme.css" />
    <title>Bhavna Achar</title>
  </head>
  <body class="bg-image">
    <div id="nav">
      <nav>
        <div class="brand-name">Bhavna Achar</div>
        <div class="navbar-links">
          <ul>
            <li><a href="/" class="navbar-link">HOME</a></li>
            <li><a href="/storefront" class="navbar-link">STORE</a></li>
            <li><a href="/list" class="navbar-link">LIST</a></li>
            <li><a href="/table" class="navbar-link">TABLE</a></li>
            <li><a href="/audio" class="navbar-link">AUDIO</a></li>
            <li><a href="/video" class="navbar-link">VIDEO</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
    <div id="content">
      <h1>Hello World!</h1>
      <p>
      Welcome to my website! Here I will be demonstrating what I know about HTML5 principles and
      techniques, creating a web server with Node.js, using promises, and
      routing using Express.js.
      </p>
      <h4>What I've learnt in WEB322 so far...</h2>
      <p>
      This course has been a great learning experience. While the WEB222 from
      last semester introduced javascript along with HTML/CSS, this course has
      dived deeper and tought us how to use Node.js to create our own servers
      and create dynamic web-applications from scratch. I've learnt how to
      incorporate error handling and promises which is extremely useful to
      ensure applications run smoothly and as intended so as to give users the
      best experience.
      </p>
      <h4>What is HTML5?</h2>
      <p>
      This website uses HTML5 - a markup language used for structuring and
      present what you see on the web. It is the latest version of HTML which
      supports new markup language functionalities like multimedia, new elements
      and tags (eg, header, footer, nav, article) along with new APIs. HTML5 was
      created to improve the WWW experience for both the developers as well as
      the users. It allows web browsers to function as application platforms,
      enhancing developers' control over their website's performance. In the case of the end users, some of the main advantages of HTML5 are -
        <ul>
          <li>users do not require any additional plug-ins for audio or video elements on a page</li>
          <li>it makes use of offlice caching so that users can have access to webpages even when they are not connected to the network</li>
          <li>web forms are more enhanced with better txt inputs, search boxes and fields for different purposes</li>
          <li>it offers geolocation of the user while they browse a site or application</li>
        </ul>
      </p>
    </div>
    </div>
  </body>
</html>
