<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/theme.css" />
    <title>Bhavna Achar</title>
  </head>
  <body>
    <div id="nav">
      <nav>
        <div class="brand-name">Bhavna Achar</div>
        <div class="navbar-links">
          <ul>
            <li><a href="/" class="navbar-link">HOME</a></li>
            <li><a href="/storefront" class="navbar-link">STORE</a></li>
            <li><a href="/list" class="navbar-link">LIST</a></li>
            <li><a href="/table" class="navbar-link">TABLE</a></li>
            <li><a href="/audio" class="navbar-link">AUDIO</a></li>
            <li><a href="/video" class="navbar-link">VIDEO</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
    <div id="content">
      <h1>Hello World!</h1>
      <p>
      Welcome to my website! Here I will be demonstrating what I know about
      HTML5 principles and techniques, creating a web server with Node.js, using
      promises, and routing using Express.js.
      </p>
      <h4>My current education</h4>
      <p>
      Hi, my name is Bhavna Achar, and my student ID is 103993200. I'm studying
      Computer Programming at Seneca College, Toronto, and I'm currently in my
      third semester of the program. I enjoy programming and am particularly
      interested in front end development and I hope to become a front-end web
      developer after I graduate in May 2023.
      </p>
      <h3>Working with HTML5 Lists</h3>
      <p>
      HTML lists are widely used to represent a list of item. The two kinds of
      lists are - ordered list &lt;ol&gt;, which renders a numbered list, and an
      unordered list &lt;ul&gt;, which is rendered as a bulletted list of items
      in no specific order. Within the &lt;ol&gt; or &lt;ul&gt; tags, we place
      &lt;li&gt; tags - the &lt;li&gt; element represents one item in the
      list.<br /><br />Here is an example of a nested list with both &lt;ol&gt;
      and &lt;ul&gt; elements -
        <ol>
          <li>Macronutrients
              <ol>
                  <li>Carbohydrates
                      <ul>
                        <li>Sugars</li>
                        <li>Starches</li>
                        <li>Fiber</li>
                      </ul>
                  </li>
                  <li>Proteins
                      <ul>
                        <li>Complete Proteins</li>
                        <li>Incomplete Proteins</li>
                      </ul>
                  </li>
                  <li>Fats
                      <ul>
                        <li>Saturated Fats</li>
                        <li>Transfats</li>
                        <li>Monounsaturated Fats</li>
                        <li>Polyunsaturated Fats</li>
                      </ul>
                  </li>
                  <li>Water</li>
              </ol>
          </li>
          <li>Micronutrients
              <ol>
                <li>Vitamins</li>
                <li>Minerals</li>
              </ol>
          </li>
        </ol>
      </p>
    </div>
    </div>
  </body>
</html>
