<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/theme.css" />
    <title>Bhavna Achar</title>
  </head>
  <body class="bg-beige">
    <div id="nav">
      <nav>
        <div class="navname">Bhavna Achar</div>
        <div class="navitems">
          <a href="/" class="navlink">HOME</a>
          <a href="/storefront" class="navlink">STORE</a>
          <a href="/list" class="navlink">LIST</a>
          <a href="/table" class="navlink">TABLE</a>
          <a href="/audio" class="navlink">AUDIO</a>
          <a href="/video" class="navlink">VIDEO</a>
        </div>
      </nav>
    </div>
    <div id="content">
      <h1>Check out the store!</h1>
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card h-100 shadow" style="width: 20vw">
            <img src="CeramicVase.jpg" class="card-img-top" />
            <div class="card-body">
              <header class="card-title">Ceramic Vase</header>
              <p class="card-text">
                The amorphous shape of this earthy olive green vase makes this
                piece stand out on its own, with or without botanicals
              </p>
              <footer class="card-price">14.50</footer>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow" style="width: 20vw">
            <img src="JuteLaundryHamper.jpg" class="card-img-top" />
            <div class="card-body">
              <header class="card-title">Jute Laundry Hamper</header>
              <p class="card-text">
                Add a rustic and natural look to your space while stowing away
                your laundry, keeping everything out of sight with a handy
                removable lid
              </p>
              <footer class="card-price">49.60</footer>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow" style="width: 20vw">
            <img src="MacrameChair.jpg" class="card-img-top" />
            <div class="card-body">
              <header class="card-title">Macrame Hanging Chair</header>
              <p class="card-text">
                Hang this in your balcony or a cozy spot in your home for the
                perfect relaxing afternoon
              </p>
              <footer class="card-price">57.49</footer>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow" style="width: 20vw">
            <img src="MacrameHangingShelf.jpg" class="card-img-top" />
            <div class="card-body">
              <header class="card-title">Macrame Hanging Shelf</header>
              <p class="card-text">
                This hanging macrame shelf is a perfect spot for plants, books
                or any other treasure you want want to proudly display
              </p>
              <footer class="card-price">10.49</footer>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow" style="width: 20vw">
            <img src="MacramePlantHanger.jpg" class="card-img-top" />
            <div class="card-body">
              <header class="card-title">Macrame Plant Hanger</header>
              <p class="card-text">
                Macrame plant hanger (for 3 small pots), perfect for adding a
                little green to your space
              </p>
              <footer class="card-price">9.30</footer>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow" style="width: 20vw">
            <img src="RattanCeilingLamp.jpg" class="card-img-top" />
            <div class="card-body">
              <header class="card-title">Rattan Ceiling Lamp</header>
              <p class="card-text">
                This beautiful rustic handmade rattan ceiling lamp comes in a
                basket-style weave with a metal frame for strength and
                longevity. It's a statement-making piece of decor, adding a
                homely natural feel to any space
              </p>
              <footer class="card-price">59.99</footer>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow" style="width: 20vw">
            <img src="RattanLoungeChair.jpg" class="card-img-top" />
            <div class="card-body">
              <header class="card-title">Rattan Lounge Chair</header>
              <p class="card-text">
                Add a stylish and contemporary touch with this sophisticated
                lounge chair comprised of a beautiful melange between natural
                fibers and black metal.
              </p>
              <footer class="card-price">79.48</footer>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow" style="width: 20vw">
            <img src="RopeLamp.jpg" class="card-img-top" />
            <div class="card-body">
              <header class="card-title">Rope and Linen Lamp</header>
              <p class="card-text">
                Woven over a rounded metal frame, the natural rope creates a
                vertical weave, lending a tropical, casual air to any room. A
                tapered shade of off-white linen adds additional texture while
                creating a soft glow.
              </p>
              <footer class="card-price">79.48</footer>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow" style="width: 20vw">
            <img src="TeakLadder.jpg" class="card-img-top" />
            <div class="card-body">
              <header class="card-title">Teak Storage Ladder</header>
              <p class="card-text">
                This sleek minimal teak wood ladder can add a natural charm to
                any narrow space while doubling as a place to drape your throws,
                linens or towels
              </p>
              <footer class="card-price">79.48</footer>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow" style="width: 20vw">
            <img src="ThrowBlanket.jpg" class="card-img-top" />
            <div class="card-body">
              <header class="card-title">Waffle-Knit Throw Blanket</header>
              <p class="card-text">
                Woven of yarn-dyed cotton, the beautifully neutral blanket in
                heathered grey works with a variety of palettes, and adds just
                the right layer of warmth and coziness
              </p>
              <footer class="card-price">39.99</footer>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow" style="width: 20vw">
            <img src="WallBaskets.jpg" class="card-img-top" />
            <div class="card-body">
              <header class="card-title">Wall Baskets (set of 4)</header>
              <p class="card-text">
                These handwoven brown-tinted seagrass baskets will turn any wall
                in your home into a stunning canvas
              </p>
              <footer class="card-price">23.99</footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
