@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;1,100;1,400&family=Playfair+Display:ital,wght@0,400;0,800;1,400;1,800&display=swap');


body {
    font-family: Lato, sans-serif;
    margin: 0px;
    background-color: #F3D250;
    color: rgb(37, 106, 118);
    font-size: 16px;
}

.bg-beige {
    background-color: #ECECEC
}

/* || NAVIGATION */

#nav {
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100vw;
    margin: 0;
    background-color: rgb(75, 75, 75);
    padding: 1rem;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
}

nav {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 1.5rem;
}

h4 {
    font-size: 1.5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#181818;
    overflow: hidden;
}

.navbar-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    color: white;
}

.navbar-link:hover {
    font-weight: bolder;
    color: #F3D250;
}

.navbar-links ul {
    margin: 0px;
    padding: 0px;
    padding-right: 1rem;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.card {
    border: 5px solid #F3D250;
    border-radius: 0;
}

.card-img-top {
    border-radius: 0;
    height: 60vh; 
    object-fit: cover;
}

.card-title {
    font-weight: bolder;
}

.card-text {
    font-size: .8rem;
}

.card-price {
    font-size: 1.1rem;
    font-weight: bolder;
    color: rgb(37, 106, 118);
}

.row {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.brand-name {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
    color: white;
}



/* || TABLE */

.tables {
    display: flex;
    justify-content: space-between;
}

.table {
    table-layout: auto;
    width: 48%;
}

.table-header {
    background-color: rgb(37, 106, 118);
    color: white;
}

.table-cap {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: rgb(37, 106, 118);
}

tfoot {
    background-color: #f3c50d;;
}


@media (max-width: 768px) {

    h1 {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    #nav {
        position: sticky;
        top: 0px;
        z-index: 1;
    }

    .brand-name {
        display: none;
    }

    .navbar-links {
        display: flex;
        font-size: 0.8rem;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a:hover {
        font-weight: bolder;
        border: none;
        color: #F3D250;
    }

}
